$reviewsItem-width: 700px;


.reviewsItem {
    padding: 40px 60px;
    background-color: var(--color-light-2__to__color-black-2);
    border-radius: 10px;

    @media (width < $reviewsItem-width) {
        padding: 20px;
    }
}

.top {
    display: flex;
    justify-content: center;

    @media (width < $reviewsItem-width) {
        flex-direction: column;
        align-items: center;
    }
}

.picture {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid var(--color-green__to__color-orange);
    overflow: hidden;
    
    margin-right: 10px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (width < $reviewsItem-width) {
        text-align: center;
    }
}

.name {
    font-family: 'Mont';
    font-size: clamp(18px, 1.05vw, 22px);
    font-weight: 700;
    color: var(--color-green__to__color-orange);

    @media (width < $reviewsItem-width) {
        margin-top: 10px;
    }
}

.link {
    margin-top: 10px;
    font-family: 'Mont';
    font-size: 14px;
    font-weight: 700;
    color: var(--color-green__to__color-orange);
    opacity: .6;

    @media (width < $reviewsItem-width) {
        margin-top: 5px;
    }
}

.text {
    margin-top: 20px;

    font-family: 'Hand';
    font-size: 24px;
    line-height: 130%;
    color: var(--color-bark-green__to__color-light-2);

    @media (width < $reviewsItem-width) {
        margin-top: 10px;
    }
}

.point {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media (width < 1000px){
        height: 30%;
    }
}
