.reviewsTotal {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px 20px 0px;

    @media (max-width: 1200px){
        display: none;
    }

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.line {
    height: 5px;
    width: 30px;
    background-color: var(--color-green__30__to__color-orange__30);
    margin: 0px 3px 0px 3px;
}

.fullColor {
    background-color: var(--color-green__to__color-orange);
}