@use '../../scss/variables.scss' as *;


.gallery {
    display: flex;
    justify-content: center;
    column-gap: $gap;
    padding: 0 $gap 0 $gap;
    width: 100%;

    @media (max-width: 749px){
        column-gap: $gap-mobile;
        padding: 0;
    }
}
