.menuDesktop {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 4;
    background-color: var(--color-light-1__to__color-black-1);
    @media (max-width: 1260px){
        z-index: 2;
    }
}

.body{
    display: grid;
    grid-template-columns: 1fr 240px 1fr;

    margin: 0px auto 10px auto;

    position: relative;

    @media (max-width: 1260px){
        grid-template-columns: auto;
    }
}

.left {
    justify-self: end;
    align-self: self-end;

    display: flex;
    column-gap: 30px;

    padding: 0px 0px 7px 0px;

    @media (max-width: 1260px){
        display: none;
    }
}


.right {
    justify-self: start;
    align-self: self-end;

    display: flex;
    column-gap: 30px;

    padding: 0px 0px 7px 0px;
    @media (max-width: 1260px){
        display: none;
    }
}


.logo {
    justify-self: center;
    align-self: self-end;

    & img{
        opacity: .85;
        object-fit: cover;
        height: 80px;
        width: auto;
        @media (max-width: 1200px){
            margin: 10px 0px 0px 0px;
        }
    }
}

