.ancor {
    text-decoration: underline;
    color: inherit;
    &:visited {
        color: inherit;
    }
}

p + p {
    margin-top: 16px;
}

.first-letter::first-letter {
    color: var(--color-green__to__color-orange);
    font-size: clamp(26px, 1.8vw, 30px);
    font-weight: 600;   
    initial-letter: 2 2; // сколько строк должна занимать и на сколько строк опустить букву
    padding-right: 4px;
}

.backgroundForText {
    background-color: var(--color-select-text-light__to__color-select-text-black);
    color: var(--color-black-2);
    padding: 3px;
}