.gellaryReviews{
    cursor: pointer;
    padding: 0px 0px 20px 0px;
    @media (max-width: 1200px){
        padding: 20px 0px 20px 0px;
    }
}

.useLine{
    display: flex;
    @media (max-width: 1200px){
        display: block;
    }
    max-width: 1400px;
}

.trans{
    transition: all 0.7s ease;
}